* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

#app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

#user-auth,
#diary-entries {
    margin-bottom: 20px;
}

input,
textarea {
    font-family: Poppins, sans-serif;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

#distance-display {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.bounce {
    animation: bounce 0.5s forwards;
}

@keyframes bounce {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
